<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="ISO-8859-1" />
    <title>Soft Drink Products</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />

    <meta charset="UTF-8" />
    <meta name="description" content="Ogani Template" />
    <meta name="keywords" content="Ogani, unica, creative, html" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Ogani | Template</title>

    <!-- Google Font -->
    <link
      href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap"
      rel="stylesheet"
    />

    <!-- Css Styles -->
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="css/font-awesome.min.css" type="text/css" />
    <link rel="stylesheet" href="css/elegant-icons.css" type="text/css" />
    <link rel="stylesheet" href="css/nice-select.css" type="text/css" />
    <link rel="stylesheet" href="css/jquery-ui.min.css" type="text/css" />
    <link rel="stylesheet" href="css/owl.carousel.min.css" type="text/css" />
    <link rel="stylesheet" href="css/slicknav.min.css" type="text/css" />
    <link rel="stylesheet" href="css/style.css" type="text/css" />
  </head>
  <body>
    <nav class="navbar navbar-expand-md bg-dark navbar-dark">
      <!-- Brand -->
      <a class="navbar-brand" href="#">Soft Drink Products</a>

      <!-- Toggler/collapsibe Button -->
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#collapsibleNavbar"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Navbar links -->
      <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" th:href="@{/students}">Admin Panel</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" th:href="@{/login}">Customer login</a>
          </li>
        </ul>
      </div>
    </nav>

    <div>
      <section class="checkout spad">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <div class="section-title">
                <h2>Checkout</h2>
              </div>
            </div>
          </div>
          <div class="checkout__form">
            <h4>Billing Details</h4>
            <form action="#">
              <div class="row">
                <div class="col-lg-8 col-md-6">
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="checkout__input">
                        <p>Fist Name<span>*</span></p>
                        <input type="text" />
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="checkout__input">
                        <p>Last Name<span>*</span></p>
                        <input type="text" />
                      </div>
                    </div>
                  </div>
                  <div class="checkout__input">
                    <p>Country<span>*</span></p>
                    <input type="text" />
                  </div>
                  <div class="checkout__input">
                    <p>Card Number<span>*</span></p>
                    <input type="text" />
                  </div>
                  <div class="checkout__input">
                    <p>CCV<span>*</span></p>
                    <input type="text" />
                  </div>
                  <div class="checkout__input">
                    <p>Address<span>*</span></p>
                    <input
                      type="text"
                      placeholder="Street Address"
                      class="checkout__input__add"
                    />
                    <input
                      type="text"
                      placeholder="Apartment, suite, unite ect (optinal)"
                    />
                  </div>
                  <div class="checkout__input">
                    <p>Town/City<span>*</span></p>
                    <input type="text" />
                  </div>
                  <div class="checkout__input">
                    <p>Country/State<span>*</span></p>
                    <input type="text" />
                  </div>
                  <div class="checkout__input">
                    <p>Postcode / ZIP<span>*</span></p>
                    <input type="text" />
                  </div>
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="checkout__input">
                        <p>Phone<span>*</span></p>
                        <input type="text" />
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="checkout__input">
                        <p>Email<span>*</span></p>
                        <input type="text" />
                      </div>
                    </div>
                  </div>
                  <div class="checkout__input__checkbox">
                    <label for="acc">
                      Create an account?
                      <input type="checkbox" id="acc" />
                      <span class="checkmark"></span>
                    </label>
                  </div>
                  <p>
                    Create an account by entering the information below. If you
                    are a returning customer please login at the top of the page
                  </p>
                  <div class="checkout__input">
                    <p>Account Password<span>*</span></p>
                    <input type="text" />
                  </div>
                  <div class="checkout__input__checkbox">
                    <label for="diff-acc">
                      Ship to a different address?
                      <input type="checkbox" id="diff-acc" />
                      <span class="checkmark"></span>
                    </label>
                  </div>
                  <div class="checkout__input">
                    <p>Order notes<span>*</span></p>
                    <input
                      type="text"
                      placeholder="Notes about your order, e.g. special notes for delivery."
                    />
                  </div>
                </div>
                <div class="col-lg-4 col-md-6">
                  <div class="checkout__order">
                    <h4>Your Order</h4>
                    <div class="checkout__order__products">
                      Products <span>Total</span>
                    </div>
                    <ul>
                      <li>Item 01 <span>$75.99</span></li>
                      <li>Item 02 <span>$151.99</span></li>
                      <li>Item 03 <span>$53.99</span></li>
                    </ul>
                    <div class="checkout__order__subtotal">
                      Subtotal <span>$750.99</span>
                    </div>
                    <div class="checkout__order__total">
                      Total <span>$750.99</span>
                    </div>
                    <div class="checkout__input__checkbox">
                      <label for="acc-or">
                        Create an account?
                        <input type="checkbox" id="acc-or" />
                        <span class="checkmark"></span>
                      </label>
                    </div>
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adip elit, sed do
                      eiusmod tempor incididunt ut labore et dolore magna
                      aliqua.
                    </p>
                    <div class="checkout__input__checkbox">
                      <label for="payment">
                        Check Payment
                        <input type="checkbox" id="payment" />
                        <span class="checkmark"></span>
                      </label>
                    </div>
                    <div class="checkout__input__checkbox">
                      <label for="paypal">
                        Paypal
                        <input type="checkbox" id="paypal" />
                        <span class="checkmark"></span>
                      </label>
                    </div>
                    <button
                      onclick="myFunction()"
                      type="submit"
                      class="site-btn"
                    >
                      <a class="site-btn">PLACE ORDER</a>
                    </button>

                    <button type="submit" class="site-btn">
                      <a class="site-btn" href="shopping_cart.html">BACK</a>
                    </button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </section>
    </div>
    <div></div>
  </body>

  <!-- Js Plugins -->
  <script>
    function myFunction() {
      alert("Thank you your order is placed");
    }
  </script>
  <script src="js/jquery-3.3.1.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/jquery.nice-select.min.js"></script>
  <script src="js/jquery-ui.min.js"></script>
  <script src="js/jquery.slicknav.js"></script>
  <script src="js/mixitup.min.js"></script>
  <script src="js/owl.carousel.min.js"></script>
  <script src="js/main.js"></script>
</html>
