<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User Registration</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css">
</head>
<body>
<div class="container text-center">

    <div><h1> Welcome to Fanta</h1></div>
    <nav class="navbar navbar-expand-md bg-dark navbar-dark">
        <!-- Brand -->
        <a class="navbar-brand" href="#">Soft Drink Products</a>

        <!-- Toggler/collapsibe Button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Navbar links -->
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/login}">Buy my drink</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/register}">Register with us</a>
                </li>
            </ul>
        </div>
    </nav>
    <div>
        <div>
            <img th:src="@{/images/drink.jpg}" />

        </div>



    </div>

</div>


</body>
</html>