<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="css/style.css">

    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
</head>
<body>
<header>
    <div class ="container">
        <div class = "row">
            <h1> List of Products </h1>
        </div>

        <div class = "row">

        </div>
        <table class = "table table-striped table-bordered">
            <thead class = "table-dark">
            <tr>
                <th> Product Name</th>
                <th> Product Description</th>
                <th> Product Images </th>
                <th> Product price </th>

                <th> Actions </th>
            </tr>
            </thead>

            <tbody>
            <tr th:each = "product: ${SoftDrinks}">
                <td th:text = "${product.ProductName}"></td>
                <td th:text = "${product.description}"></td>
                <td><img  th:src = "@{${product.imageurlPath}}" /></td>
                <td th:text = "${product.price}"></td>
                <td>
                    <a th:href = "@{/cart/add/{id}(id=${product.id})}"
                       class = "btn btn-primary">Add to cart</a>

                    <a th:href = "@{/products/{id}(id=${product.id})}"
                       class = "btn btn-danger">Remove</a>

                </td>
            </tr>
            </tbody>

        </table>

    </div>
</header>

</body>
</html>